name: PR Build

on:
  pull_request:
    types: [ opened, synchronize, reopened, ready_for_review ]
    branches: [ "main" ]

concurrency:
  group: pr-${{ github.event.pull_request.number }}
  cancel-in-progress: true

permissions: write-all
jobs:
  build:
    if: github.event.pull_request.draft == false
    uses: LayeredCraft/devops-templates/.github/workflows/pr-build.yaml@v6.2
    with:
      solution: LayeredCraft.DynamoMapper.slnx
      hasTests: true
      useMtpRunner: true
      testDirectory: "test"
      dotnetVersion: |
        8.0.x
        9.0.x
        10.0.x
      runCdk: false
    secrets: inherit